.upload {
  text-align: right;
  margin: 20px 0;
  padding: 0 20px;
}
.upload .customFileUpload {
  border: 1px solid #0d7900;
  background-color: #71c93b;
  color: rgba(255, 255, 255, 0.849);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.upload .customFileUpload:hover {
  background-color: #5baf27;
  color: #75cf3c;
}
.upload .customFileUpload input[type="file"] {
  display: none;
}
