.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.table th,
.table tr,
.table td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
}
.table thead {
  background-color: #1f8ec26b;
}
.table .warning {
  background-color: rgba(236, 110, 110, 0.411);
}
